$fresh_result_color: #AFE488;

$rank_mark_color: #A84A14;  //#8a1919;
$hj_mark_color: #735d3b;

$single_chart_color     : #903034;  //#af2928
$single_perf_chart_color: #973894;  //af2879;
$double_chart_color     : #38A532;  //#169c16;
$double_perf_chart_color: #357497;  //#129c96;
$coop_chart_color       : #8E8B2A;  //#8d8a1b;

